{% extends 'base.html.twig' %}

{% block title %}Dongeon Master Room{% endblock %}

{% block body %}


<section class="d-flex">
    <h1>Mes Campagnes</h1>
    <p>Vous n'avez pas rejoins ou créé de campagne !</p>
    <p>Pour rejoindre une campagne, demandez le code d'invitation à un Maitre du dongeon de vous en transmettre un.</p>
    <a href="" class="btn btn-secondary"> Créer une campagne</a>
</section>

{% endblock %}
