<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}O'Donjon{% endblock %}
    </title>
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link href="/chemin-vers-fontawesome/css/all.css" rel="stylesheet">
  </head>

  <body>