{
    "openapi": "3.0.0",
    "info": {
        "title": "API O'donjon",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://odonjon.fr/",
            "description": "API pour O'donjon"
        }
    ],
    "paths": {
        "/campaign/dm": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "operationId": "App\\Controller\\CampaignController::browseDm",
                "responses": {
                    "200": {
                        "description": "List of campaigns as the DM",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/campaignList"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/campaign": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "operationId": "App\\Controller\\CampaignController::browse",
                "responses": {
                    "200": {
                        "description": "List of campaigns as a player",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/campaignList"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "post": {
                "tags": [
                    "Campaign"
                ],
                "operationId": "App\\Controller\\CampaignController::add",
                "requestBody": {
                    "$ref": "#/components/requestBodies/campaign"
                },
                "responses": {
                    "200": {
                        "description": "Informations of the campaign",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/campaign"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/campaign/{id}": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "operationId": "App\\Controller\\CampaignController::read",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Informations of the campaign",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/campaign"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "put": {
                "tags": [
                    "Campaign"
                ],
                "operationId": "App\\Controller\\CampaignController::edit",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/campaign"
                },
                "responses": {
                    "200": {
                        "description": "Informations of the campaign",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/campaign"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Campaign"
                ],
                "operationId": "App\\Controller\\CampaignController::delete",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/campaign/{id}/story": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "operationId": "App\\Controller\\CampaignController::browseStories",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of stories of a campaign",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/campaignStories"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/campaign/{id}/map": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "operationId": "App\\Controller\\CampaignController::browseMaps",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of maps of a campaign",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/campaignMaps"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/campaign/{id}/npc": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "operationId": "App\\Controller\\CampaignController::browseNpc",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of NPCs of a campaign",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/campaignNPCs"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/campaign/{id}/character": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "operationId": "App\\Controller\\CampaignController::browseCharacter",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of Characters of a campaign",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/campaignCharacters"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/character": {
            "get": {
                "tags": [
                    "Character"
                ],
                "operationId": "App\\Controller\\CharacterController::browse",
                "responses": {
                    "200": {
                        "description": "List of characters of the user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/character"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "post": {
                "tags": [
                    "Character"
                ],
                "operationId": "App\\Controller\\CharacterController::add",
                "requestBody": {
                    "$ref": "#/components/requestBodies/characterName"
                },
                "responses": {
                    "200": {
                        "description": "Informations of the character",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/characterInfo"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/character/{id}": {
            "get": {
                "tags": [
                    "Character"
                ],
                "operationId": "App\\Controller\\CharacterController::read",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Informations of the character",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/characterInfo"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "put": {
                "tags": [
                    "Character"
                ],
                "operationId": "App\\Controller\\CharacterController::edit",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/character"
                },
                "responses": {
                    "200": {
                        "description": "Informations of the character",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/characterInfo"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Character"
                ],
                "operationId": "App\\Controller\\CharacterController::delete",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/map": {
            "get": {
                "tags": [
                    "Map"
                ],
                "operationId": "App\\Controller\\MapController::browse",
                "responses": {
                    "200": {
                        "description": "List of maps",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/map"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "post": {
                "tags": [
                    "Map"
                ],
                "operationId": "App\\Controller\\MapController::add",
                "requestBody": {
                    "$ref": "#/components/requestBodies/map"
                },
                "responses": {
                    "200": {
                        "description": "Informations of the map",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/mapInfo"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/map/{id}": {
            "get": {
                "tags": [
                    "Map"
                ],
                "operationId": "App\\Controller\\MapController::read",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Informations of the map",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/mapInfo"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "put": {
                "tags": [
                    "Map"
                ],
                "operationId": "App\\Controller\\MapController::edit",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/map"
                },
                "responses": {
                    "200": {
                        "description": "Informations of the map",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/mapInfo"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Map"
                ],
                "operationId": "App\\Controller\\MapController::delete",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/nps": {
            "get": {
                "tags": [
                    "NPC"
                ],
                "operationId": "App\\Controller\\NpcController::browse",
                "responses": {
                    "200": {
                        "description": "List of NPCs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/npcInfo"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/npc": {
            "post": {
                "tags": [
                    "NPC"
                ],
                "operationId": "App\\Controller\\NpcController::add",
                "requestBody": {
                    "$ref": "#/components/requestBodies/npc"
                },
                "responses": {
                    "200": {
                        "description": "Informations of the NPC",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/npcInfo"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/npc/{id}": {
            "get": {
                "tags": [
                    "NPC"
                ],
                "operationId": "App\\Controller\\NpcController::read",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Informations of the NPC",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/npcInfo"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "put": {
                "tags": [
                    "NPC"
                ],
                "operationId": "App\\Controller\\NpcController::edit",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/npc"
                },
                "responses": {
                    "200": {
                        "description": "Informations of the NPC",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/npcInfo"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "delete": {
                "tags": [
                    "NPC"
                ],
                "operationId": "App\\Controller\\NpcController::delete",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/story": {
            "get": {
                "tags": [
                    "Story"
                ],
                "operationId": "App\\Controller\\StorieController::browse",
                "responses": {
                    "200": {
                        "description": "List of stories",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/storyInfo"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "post": {
                "tags": [
                    "Story"
                ],
                "operationId": "App\\Controller\\StorieController::add",
                "requestBody": {
                    "$ref": "#/components/requestBodies/story"
                },
                "responses": {
                    "200": {
                        "description": "Informations of the story",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/storyInfo"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/story/{id}": {
            "get": {
                "tags": [
                    "Story"
                ],
                "operationId": "App\\Controller\\StorieController::read",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Informations of the story",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/storyInfo"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "put": {
                "tags": [
                    "Story"
                ],
                "operationId": "App\\Controller\\StorieController::edit",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/story"
                },
                "responses": {
                    "200": {
                        "description": "Informations of the story",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/storyInfo"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Story"
                ],
                "operationId": "App\\Controller\\StorieController::delete",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/login_check": {
            "get": {
                "tags": [
                    "User"
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/connectionUser"
                },
                "responses": {
                    "200": {
                        "description": "data of the connected user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/connectionUser"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/user": {
            "get": {
                "tags": [
                    "User"
                ],
                "operationId": "App\\Controller\\UserController::browse",
                "responses": {
                    "200": {
                        "description": "List of the users",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/userList"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "User"
                ],
                "operationId": "App\\Controller\\UserController::add",
                "requestBody": {
                    "$ref": "#/components/requestBodies/registerUser"
                },
                "responses": {
                    "201": {
                        "description": "Register new user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/user"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/{id}": {
            "get": {
                "tags": [
                    "User"
                ],
                "operationId": "App\\Controller\\UserController::read",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User informations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/user"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "put": {
                "tags": [
                    "User"
                ],
                "operationId": "App\\Controller\\UserController::edit",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/registerUser"
                },
                "responses": {
                    "200": {
                        "description": "User informations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/user"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "delete": {
                "tags": [
                    "User"
                ],
                "operationId": "App\\Controller\\UserController::delete",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/user/campaign/join": {
            "post": {
                "tags": [
                    "User"
                ],
                "operationId": "App\\Controller\\UserController::joinCampaign",
                "requestBody": {
                    "$ref": "#/components/requestBodies/joinCampaignUser"
                },
                "responses": {
                    "200": {
                        "description": "User informations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Yeah, you have joined the campaign"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Campaign not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "This invitation code is not valid !"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "userList": {
                "description": "List of the users",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": "7"
                    },
                    "name": {
                        "type": "string",
                        "maxLength": 64,
                        "example": "Martin",
                        "nullable": true
                    },
                    "avatarPath": {
                        "type": "string",
                        "maxLength": 255,
                        "example": "avatar_martin.png",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "user": {
                "description": "user informations",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": "7"
                    },
                    "email": {
                        "type": "string",
                        "maxLength": 180,
                        "uniqueItems": true,
                        "example": "martin@odonjon.com"
                    },
                    "name": {
                        "type": "string",
                        "maxLength": 64,
                        "example": "Martin",
                        "nullable": true
                    },
                    "avatarPath": {
                        "type": "string",
                        "maxLength": 255,
                        "example": "avatar_martin.png",
                        "nullable": true
                    },
                    "campaigns": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/userCampaignList"
                        }
                    },
                    "characters": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/characterList"
                        }
                    }
                },
                "type": "object"
            },
            "userCampaignList": {
                "description": "List of the campaigns",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": "7"
                    },
                    "name": {
                        "type": "string",
                        "maxLength": 64,
                        "example": "Les poules de ma grand-mère",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "characterList": {
                "description": "List of the characters",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": "7"
                    },
                    "name": {
                        "type": "string",
                        "maxLength": 64,
                        "example": "Dwalïn",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "connectionUser": {
                "description": "JWT and user data",
                "properties": {
                    "token": {
                        "type": "string",
                        "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpYXQiOjE2MjE0OTgwODYsImV4cCI6MTYyMTUyNjg4Niwicm9sZXMiOlsiUk9MRV9VU0VSIl0sInVzZXJuYW1lIjoibmFlbEBvZG9uam9uLmNvbSJ9.tR9dFk5g2tJ1YnV_vGBFmP-37LnaOAqhvgT6VhunNVnmd5xIriR50_hmqa5PMkFFHwSurx2KoxwhpZEOXKabSdRb2yipHszo64TIDNjV35jdli8JAOxX6xSQBqE1lK6-iOKJay7Eeuu1N7TViJdbPfDZodomLDLXOdd3ZHMOb8m3-YerQ0mhHNPf5ze2pYbUgoRG8iOGZJtUnQRYutSqeIEQFqk696gyWJKnG_yd16aPhvzf12gmn4cctOhbpO9-oxt6GDAuMpcEBZVoYhkbNN53QJJ6aCZfp2TpUkbL8io8jPdrUxcil_-yMFVnjBewkzTjFdmypWh2Qo4Dad2K7w"
                    },
                    "data": {
                        "properties": {
                            "id": {
                                "type": "integer",
                                "example": "7"
                            },
                            "email": {
                                "type": "string",
                                "example": "example@odonjon.com"
                            },
                            "name": {
                                "type": "string",
                                "maxLength": 64,
                                "example": "Martin",
                                "nullable": true
                            },
                            "avatarPath": {
                                "type": "string",
                                "maxLength": 255,
                                "example": "avatar_martin.png",
                                "nullable": true
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "campaignList": {
                "description": "List of campaign",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": "7"
                    },
                    "name": {
                        "type": "string",
                        "maxLength": 64,
                        "example": "Les poules de ma grand-mère",
                        "nullable": true
                    },
                    "description": {
                        "type": "string",
                        "example": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus impedit sequi amet ipsa, recusandae cumque, culpa ullam officia optio qui reiciendis similique, illo illum minus quaerat vitae aliquid iure labore!",
                        "nullable": true
                    },
                    "memo": {
                        "type": "string",
                        "example": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus impedit sequi amet ipsa, recusandae cumque, culpa ullam officia optio qui reiciendis similique, illo illum minus quaerat vitae aliquid iure labore!",
                        "nullable": true
                    },
                    "isArchived": {
                        "type": "boolean",
                        "default": 0,
                        "example": "false",
                        "nullable": true
                    },
                    "invitationCode": {
                        "type": "string",
                        "maxLength": 64,
                        "example": "60a60a7d4e18a",
                        "nullable": true
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "owner": {
                        "properties": {
                            "id": {
                                "type": "integer",
                                "example": "7"
                            },
                            "name": {
                                "type": "string",
                                "maxLength": 64,
                                "example": "Martin",
                                "nullable": true
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "campaign": {
                "description": "Information of a campaign",
                "properties": {
                    "countCharacters": {
                        "type": "integer",
                        "example": "5"
                    },
                    "countNpcs": {
                        "type": "integer",
                        "example": "17"
                    },
                    "countStories": {
                        "type": "integer",
                        "example": "3"
                    },
                    "countMaps": {
                        "type": "integer",
                        "example": "11"
                    }
                },
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/campaignList"
                    }
                ]
            },
            "campaignStories": {
                "description": "List of stories of the campaign",
                "properties": {
                    "stories": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/story"
                        }
                    }
                },
                "type": "object"
            },
            "campaignMaps": {
                "description": "List of maps of the campaign",
                "properties": {
                    "maps": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/map"
                        }
                    }
                },
                "type": "object"
            },
            "campaignNPCs": {
                "description": "List of NPCs of the campaign",
                "properties": {
                    "NPCs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/npc"
                        }
                    }
                },
                "type": "object"
            },
            "campaignCharacters": {
                "description": "List of Characters of the campaign",
                "properties": {
                    "characters": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/character"
                        }
                    }
                },
                "type": "object"
            },
            "story": {
                "description": "Information of a story",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": "7"
                    },
                    "name": {
                        "type": "string",
                        "maxLength": 64,
                        "example": "disparition mystérieuse au poulailler",
                        "nullable": true
                    },
                    "description": {
                        "type": "string",
                        "example": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus impedit sequi amet ipsa, recusandae cumque, culpa ullam officia optio qui reiciendis similique, illo illum minus quaerat vitae aliquid iure labore!",
                        "nullable": true
                    },
                    "isDone": {
                        "type": "boolean",
                        "default": 0,
                        "example": "false",
                        "nullable": true
                    },
                    "report": {
                        "type": "string",
                        "example": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus impedit sequi amet ipsa, recusandae cumque, culpa ullam officia optio qui reiciendis similique, illo illum minus quaerat vitae aliquid iure labore!",
                        "nullable": true
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "campaign": {
                        "type": "integer",
                        "example": "7"
                    }
                },
                "type": "object"
            },
            "storyInfo": {
                "description": "Information of a story",
                "properties": {
                    "campaign": {
                        "properties": {
                            "id": {
                                "type": "integer",
                                "example": "7"
                            },
                            "name": {
                                "type": "string",
                                "maxLength": 64,
                                "example": "Les poules de ma grand-mère",
                                "nullable": true
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/story"
                    }
                ]
            },
            "map": {
                "description": "Information of a map",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": "7"
                    },
                    "filePath": {
                        "type": "string",
                        "maxLength": 64,
                        "example": "poulailler.png",
                        "nullable": true
                    },
                    "name": {
                        "type": "string",
                        "maxLength": 64,
                        "example": "Le poulailler de ma grand-mère",
                        "nullable": true
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "campaign": {
                        "properties": {
                            "id": {
                                "type": "integer",
                                "example": "7"
                            },
                            "name": {
                                "type": "string",
                                "maxLength": 64,
                                "example": "Les poules de ma grand-mère",
                                "nullable": true
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "mapInfo": {
                "description": "Information of a map",
                "properties": {
                    "description": {
                        "type": "string",
                        "example": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus impedit sequi amet ipsa, recusandae cumque, culpa ullam officia optio qui reiciendis similique, illo illum minus quaerat vitae aliquid iure labore!",
                        "nullable": true
                    }
                },
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/map"
                    }
                ]
            },
            "npc": {
                "description": "Information of a NPC",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": "7"
                    },
                    "name": {
                        "type": "string",
                        "maxLength": 64,
                        "example": "Cocotte",
                        "nullable": true
                    },
                    "type": {
                        "type": "string",
                        "maxLength": 64,
                        "example": "animal",
                        "nullable": true
                    },
                    "description": {
                        "type": "string",
                        "example": "Au mon dieu une poule qui parle !",
                        "nullable": true
                    },
                    "isAlly": {
                        "type": "string",
                        "maxLength": 64,
                        "example": "true",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "npcInfo": {
                "description": "Information of a NPC",
                "properties": {
                    "campaign": {
                        "properties": {
                            "id": {
                                "type": "integer",
                                "example": "7"
                            },
                            "name": {
                                "type": "string",
                                "maxLength": 64,
                                "example": "Les poules de ma grand-mère",
                                "nullable": true
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/npc"
                    }
                ]
            },
            "character": {
                "description": "Information of a character",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": "7"
                    },
                    "name": {
                        "type": "string",
                        "maxLength": 64,
                        "example": "Dwalïn",
                        "nullable": true
                    },
                    "avatar_path": {
                        "type": "string",
                        "maxLength": 255,
                        "example": "dwalin.png",
                        "nullable": true
                    },
                    "age": {
                        "type": "integer",
                        "default": 0,
                        "example": "97"
                    },
                    "initiative": {
                        "type": "integer",
                        "default": 0,
                        "example": "2"
                    },
                    "height": {
                        "type": "integer",
                        "default": 0,
                        "example": "137"
                    },
                    "weight": {
                        "type": "integer",
                        "default": 0,
                        "example": "61"
                    },
                    "eyes": {
                        "type": "string",
                        "maxLength": 64,
                        "example": "marron",
                        "nullable": true
                    },
                    "skin": {
                        "type": "string",
                        "maxLength": 64,
                        "example": "blanche",
                        "nullable": true
                    },
                    "hair": {
                        "type": "string",
                        "maxLength": 64,
                        "example": "roux",
                        "nullable": true
                    },
                    "appearance": {
                        "type": "string",
                        "example": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus impedit sequi amet ipsa, recusandae cumque, culpa ullam officia optio qui reiciendis similique, illo illum minus quaerat vitae aliquid iure labore!",
                        "nullable": true
                    },
                    "personality_traits": {
                        "type": "string",
                        "example": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus impedit sequi amet ipsa, recusandae cumque, culpa ullam officia optio qui reiciendis similique, illo illum minus quaerat vitae aliquid iure labore!",
                        "nullable": true
                    },
                    "ideals": {
                        "type": "string",
                        "example": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus impedit sequi amet ipsa, recusandae cumque, culpa ullam officia optio qui reiciendis similique, illo illum minus quaerat vitae aliquid iure labore!",
                        "nullable": true
                    },
                    "bonds": {
                        "type": "string",
                        "example": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus impedit sequi amet ipsa, recusandae cumque, culpa ullam officia optio qui reiciendis similique, illo illum minus quaerat vitae aliquid iure labore!",
                        "nullable": true
                    },
                    "flaws": {
                        "type": "string",
                        "example": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus impedit sequi amet ipsa, recusandae cumque, culpa ullam officia optio qui reiciendis similique, illo illum minus quaerat vitae aliquid iure labore!",
                        "nullable": true
                    },
                    "allies_and_organizations": {
                        "type": "string",
                        "example": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus impedit sequi amet ipsa, recusandae cumque, culpa ullam officia optio qui reiciendis similique, illo illum minus quaerat vitae aliquid iure labore!",
                        "nullable": true
                    },
                    "backstory": {
                        "type": "string",
                        "example": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus impedit sequi amet ipsa, recusandae cumque, culpa ullam officia optio qui reiciendis similique, illo illum minus quaerat vitae aliquid iure labore!",
                        "nullable": true
                    },
                    "treasure": {
                        "type": "string",
                        "example": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus impedit sequi amet ipsa, recusandae cumque, culpa ullam officia optio qui reiciendis similique, illo illum minus quaerat vitae aliquid iure labore!",
                        "nullable": true
                    },
                    "background": {
                        "type": "string",
                        "maxLength": 64,
                        "example": "forgeron",
                        "nullable": true
                    },
                    "alignement": {
                        "type": "string",
                        "maxLength": 64,
                        "example": "Loyal neutre",
                        "nullable": true
                    },
                    "attacks_and_spellcasting": {
                        "type": "string",
                        "example": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus impedit sequi amet ipsa, recusandae cumque, culpa ullam officia optio qui reiciendis similique, illo illum minus quaerat vitae aliquid iure labore!",
                        "nullable": true
                    },
                    "equipment": {
                        "type": "string",
                        "example": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus impedit sequi amet ipsa, recusandae cumque, culpa ullam officia optio qui reiciendis similique, illo illum minus quaerat vitae aliquid iure labore!",
                        "nullable": true
                    },
                    "other_proficiencies_and_languages": {
                        "type": "string",
                        "example": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus impedit sequi amet ipsa, recusandae cumque, culpa ullam officia optio qui reiciendis similique, illo illum minus quaerat vitae aliquid iure labore!",
                        "nullable": true
                    },
                    "features_and_traits": {
                        "type": "string",
                        "example": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus impedit sequi amet ipsa, recusandae cumque, culpa ullam officia optio qui reiciendis similique, illo illum minus quaerat vitae aliquid iure labore!",
                        "nullable": true
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "characterInfo": {
                "description": "Information of a character",
                "properties": {
                    "user": {
                        "properties": {
                            "id": {
                                "type": "integer",
                                "example": "7"
                            },
                            "name": {
                                "type": "string",
                                "maxLength": 64,
                                "example": "Martin",
                                "nullable": true
                            }
                        },
                        "type": "object"
                    },
                    "campaign": {
                        "properties": {
                            "id": {
                                "type": "integer",
                                "example": "7"
                            },
                            "name": {
                                "type": "string",
                                "maxLength": 64,
                                "example": "Les poules de ma grand-mère",
                                "nullable": true
                            }
                        },
                        "type": "object"
                    },
                    "race": {
                        "properties": {
                            "name": {
                                "type": "string",
                                "maxLength": 64,
                                "example": "nain",
                                "nullable": true
                            },
                            "informations": {
                                "type": "string",
                                "example": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus impedit sequi amet ipsa, recusandae cumque, culpa ullam officia optio qui reiciendis similique, illo illum minus quaerat vitae aliquid iure labore!",
                                "nullable": true
                            }
                        },
                        "type": "object"
                    },
                    "class": {
                        "properties": {
                            "name": {
                                "type": "string",
                                "maxLength": 64,
                                "example": "guerrier",
                                "nullable": true
                            },
                            "informations": {
                                "type": "string",
                                "example": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus impedit sequi amet ipsa, recusandae cumque, culpa ullam officia optio qui reiciendis similique, illo illum minus quaerat vitae aliquid iure labore!",
                                "nullable": true
                            }
                        },
                        "type": "object"
                    },
                    "caracteristics": {
                        "properties": {
                            "level": {
                                "type": "integer",
                                "default": 0,
                                "example": "13"
                            },
                            "experience": {
                                "type": "integer",
                                "default": 0,
                                "example": "6911"
                            },
                            "inspiration": {
                                "type": "boolean",
                                "default": false,
                                "example": "false"
                            },
                            "armorClass": {
                                "type": "integer",
                                "default": 0,
                                "example": "13"
                            },
                            "speed": {
                                "type": "integer",
                                "default": 0,
                                "example": "7"
                            },
                            "currentHP": {
                                "type": "integer",
                                "default": 0,
                                "example": "47"
                            },
                            "totalHP": {
                                "type": "integer",
                                "default": 0,
                                "example": "53"
                            },
                            "hitDice": {
                                "type": "string",
                                "maxLength": 64,
                                "example": "1D8",
                                "nullable": true
                            },
                            "deathSavesSuccess": {
                                "type": "integer",
                                "default": 0,
                                "example": "0"
                            },
                            "deathSavesFailures": {
                                "type": "integer",
                                "default": 0,
                                "example": "0"
                            }
                        },
                        "type": "object"
                    },
                    "statistics": {
                        "properties": {
                            "strength": {
                                "type": "integer",
                                "default": 0,
                                "example": "17"
                            },
                            "dexterity": {
                                "type": "integer",
                                "default": 0,
                                "example": "11"
                            },
                            "constitution": {
                                "type": "integer",
                                "default": 0,
                                "example": "13"
                            },
                            "intelligence": {
                                "type": "integer",
                                "default": 0,
                                "example": "7"
                            },
                            "wisdom": {
                                "type": "integer",
                                "default": 0,
                                "example": "11"
                            },
                            "charisma": {
                                "type": "integer",
                                "default": 0,
                                "example": "13"
                            },
                            "passiveWisdom": {
                                "type": "integer",
                                "default": 0,
                                "example": "2"
                            },
                            "proficiencyBonus": {
                                "type": "integer",
                                "default": 0,
                                "example": "2"
                            }
                        },
                        "type": "object"
                    },
                    "spell": {
                        "properties": {
                            "spellcasting_class": {
                                "type": "string",
                                "maxLength": 64,
                                "example": "invocateur",
                                "nullable": true
                            },
                            "spell_attack_bonus": {
                                "type": "integer",
                                "default": 0,
                                "example": "2"
                            },
                            "spellcasting_ability": {
                                "type": "integer",
                                "default": 0,
                                "example": "2"
                            },
                            "spell_save_dc": {
                                "type": "integer",
                                "default": 0,
                                "example": "2"
                            },
                            "spells_list": {
                                "type": "string",
                                "example": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus impedit sequi amet ipsa, recusandae cumque, culpa ullam officia optio qui reiciendis similique, illo illum minus quaerat vitae aliquid iure labore!",
                                "nullable": true
                            }
                        },
                        "type": "object"
                    },
                    "savingThrowspell": {
                        "properties": {
                            "strength": {
                                "type": "boolean",
                                "default": false,
                                "example": "true"
                            },
                            "dexterity": {
                                "type": "boolean",
                                "default": false,
                                "example": "false"
                            },
                            "constitution": {
                                "type": "boolean",
                                "default": false,
                                "example": "true"
                            },
                            "intelligence": {
                                "type": "boolean",
                                "default": false,
                                "example": "false"
                            },
                            "wisdom": {
                                "type": "boolean",
                                "default": false,
                                "example": "false"
                            },
                            "charisma": {
                                "type": "boolean",
                                "default": false,
                                "example": "false"
                            }
                        },
                        "type": "object"
                    },
                    "skill": {
                        "properties": {
                            "acrobatics": {
                                "type": "boolean",
                                "default": false,
                                "example": "false"
                            },
                            "animalHandling": {
                                "type": "boolean",
                                "default": false,
                                "example": "true"
                            },
                            "arcana": {
                                "type": "boolean",
                                "default": false,
                                "example": "false"
                            },
                            "athletics": {
                                "type": "boolean",
                                "default": false,
                                "example": "false"
                            },
                            "deception": {
                                "type": "boolean",
                                "default": false,
                                "example": "false"
                            },
                            "history": {
                                "type": "boolean",
                                "default": false,
                                "example": "false"
                            },
                            "insight": {
                                "type": "boolean",
                                "default": false,
                                "example": "false"
                            },
                            "intimidation": {
                                "type": "boolean",
                                "default": false,
                                "example": "true"
                            },
                            "investigation": {
                                "type": "boolean",
                                "default": false,
                                "example": "false"
                            },
                            "medecine": {
                                "type": "boolean",
                                "default": false,
                                "example": "false"
                            },
                            "nature": {
                                "type": "boolean",
                                "default": false,
                                "example": "false"
                            },
                            "perception": {
                                "type": "boolean",
                                "default": false,
                                "example": "false"
                            },
                            "performance": {
                                "type": "boolean",
                                "default": false,
                                "example": "false"
                            },
                            "persuasion": {
                                "type": "boolean",
                                "default": false,
                                "example": "false"
                            },
                            "religion": {
                                "type": "boolean",
                                "default": false,
                                "example": "true"
                            },
                            "sleightOfHand": {
                                "type": "boolean",
                                "default": false,
                                "example": "false"
                            },
                            "stealth": {
                                "type": "boolean",
                                "default": false,
                                "example": "false"
                            },
                            "survival": {
                                "type": "boolean",
                                "default": false,
                                "example": "true"
                            }
                        },
                        "type": "object"
                    },
                    "isDead": {
                        "type": "boolean",
                        "default": false,
                        "example": "false"
                    }
                },
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/character"
                    }
                ]
            }
        },
        "responses": {
            "notFound": {
                "description": "ressource doesn't existe"
            }
        },
        "parameters": {
            "id": {
                "name": "id",
                "in": "path",
                "description": "ID of the ressource",
                "required": true,
                "schema": {
                    "type": "integer"
                }
            }
        },
        "requestBodies": {
            "connectionUser": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "username",
                                "password"
                            ],
                            "properties": {
                                "username": {
                                    "type": "string",
                                    "example": "martin@odonjon.com"
                                },
                                "password": {
                                    "type": "string",
                                    "example": "password"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "registerUser": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "email",
                                "password",
                                "name",
                                "avatarPath"
                            ],
                            "properties": {
                                "email": {
                                    "type": "string",
                                    "maxLength": 180,
                                    "uniqueItems": true,
                                    "example": "martin@odonjon.com"
                                },
                                "password": {
                                    "type": "string",
                                    "example": "password"
                                },
                                "name": {
                                    "type": "string",
                                    "maxLength": 64,
                                    "example": "Martin",
                                    "nullable": true
                                },
                                "avatarPath": {
                                    "type": "string",
                                    "maxLength": 255,
                                    "example": "avatar_martin.png",
                                    "nullable": true
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "joinCampaignUser": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "invitationCode"
                            ],
                            "properties": {
                                "invitationCode": {
                                    "type": "string",
                                    "maxLength": 64,
                                    "example": "60a60a7d4e18a"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "campaign": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "name",
                                "description",
                                "memo",
                                "isArchived"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "maxLength": 64,
                                    "example": "Les poules de ma grand-mère",
                                    "nullable": true
                                },
                                "description": {
                                    "type": "string",
                                    "example": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus impedit sequi amet ipsa, recusandae cumque, culpa ullam officia optio qui reiciendis similique, illo illum minus quaerat vitae aliquid iure labore!",
                                    "nullable": true
                                },
                                "memo": {
                                    "type": "string",
                                    "example": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus impedit sequi amet ipsa, recusandae cumque, culpa ullam officia optio qui reiciendis similique, illo illum minus quaerat vitae aliquid iure labore!",
                                    "nullable": true
                                },
                                "isArchived": {
                                    "type": "boolean",
                                    "default": 0,
                                    "example": "false",
                                    "nullable": true
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "story": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "name",
                                "description",
                                "isDone",
                                "report",
                                "campaign"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "maxLength": 64,
                                    "example": "disparition mystérieuse au poulailler",
                                    "nullable": true
                                },
                                "description": {
                                    "type": "string",
                                    "example": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus impedit sequi amet ipsa, recusandae cumque, culpa ullam officia optio qui reiciendis similique, illo illum minus quaerat vitae aliquid iure labore!",
                                    "nullable": true
                                },
                                "isDone": {
                                    "type": "boolean",
                                    "default": 0,
                                    "example": "false",
                                    "nullable": true
                                },
                                "report": {
                                    "type": "string",
                                    "example": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus impedit sequi amet ipsa, recusandae cumque, culpa ullam officia optio qui reiciendis similique, illo illum minus quaerat vitae aliquid iure labore!",
                                    "nullable": true
                                },
                                "campaign": {
                                    "type": "integer"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "map": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "filePath",
                                "name",
                                "description",
                                "campaign"
                            ],
                            "properties": {
                                "filePath": {
                                    "type": "string",
                                    "maxLength": 255,
                                    "example": "poulailler.png",
                                    "nullable": true
                                },
                                "name": {
                                    "type": "string",
                                    "maxLength": 64,
                                    "example": "Le poulailler de ma grand-mère",
                                    "nullable": true
                                },
                                "description": {
                                    "type": "string",
                                    "example": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus impedit sequi amet ipsa, recusandae cumque, culpa ullam officia optio qui reiciendis similique, illo illum minus quaerat vitae aliquid iure labore!",
                                    "nullable": true
                                },
                                "campaign": {
                                    "type": "integer",
                                    "example": "7"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "npc": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "name",
                                "type",
                                "description",
                                "isAlly",
                                "campaign"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "maxLength": 64,
                                    "example": "Cocotte",
                                    "nullable": true
                                },
                                "type": {
                                    "type": "string",
                                    "maxLength": 64,
                                    "example": "animal",
                                    "nullable": true
                                },
                                "description": {
                                    "type": "string",
                                    "example": "Au mon dieu une poule qui parle !",
                                    "nullable": true
                                },
                                "isAlly": {
                                    "type": "string",
                                    "maxLength": 64,
                                    "example": "true",
                                    "nullable": true
                                },
                                "campaign": {
                                    "type": "integer",
                                    "example": "7"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "characterName": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "name"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "maxLength": 64,
                                    "example": "Dwalïn",
                                    "nullable": true
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "character": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "name",
                                "avatar_path",
                                "age",
                                "initiative",
                                "height",
                                "weight",
                                "eyes",
                                "skin",
                                "hair",
                                "appearance",
                                "personality_traits",
                                "ideals",
                                "bonds",
                                "flaws",
                                "allies_and_organizations",
                                "backstory",
                                "treasure",
                                "background",
                                "alignement",
                                "attacks_and_spellcasting",
                                "equipment",
                                "other_proficiencies_and_languages",
                                "features_and_traits",
                                "campaign",
                                "race",
                                "class",
                                "caracteristics",
                                "statistics",
                                "spell",
                                "savingThrowspell",
                                "skill",
                                "isDead"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "maxLength": 64,
                                    "example": "Dwalïn",
                                    "nullable": true
                                },
                                "avatar_path": {
                                    "type": "string",
                                    "maxLength": 255,
                                    "example": "dwalin.png",
                                    "nullable": true
                                },
                                "age": {
                                    "type": "integer",
                                    "default": 0,
                                    "example": "97"
                                },
                                "initiative": {
                                    "type": "integer",
                                    "default": 0,
                                    "example": "2"
                                },
                                "height": {
                                    "type": "integer",
                                    "default": 0,
                                    "example": "137"
                                },
                                "weight": {
                                    "type": "integer",
                                    "default": 0,
                                    "example": "61"
                                },
                                "eyes": {
                                    "type": "string",
                                    "maxLength": 64,
                                    "example": "marron",
                                    "nullable": true
                                },
                                "skin": {
                                    "type": "string",
                                    "maxLength": 64,
                                    "example": "blanche",
                                    "nullable": true
                                },
                                "hair": {
                                    "type": "string",
                                    "maxLength": 64,
                                    "example": "roux",
                                    "nullable": true
                                },
                                "appearance": {
                                    "type": "string",
[...]
