{
    "openapi": "3.0.0",
    "info": {
        "title": "API O'donjon",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://odonjon.fr/",
            "description": "API pour O'donjon"
        }
    ],
    "paths": {
        "/user": {
            "get": {
                "tags": [
                    "User"
                ],
                "operationId": "App\\Controller\\UserController::browse",
                "responses": {
                    "200": {
                        "description": "List of the users",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/userList"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "User"
                ],
                "operationId": "App\\Controller\\UserController::add",
                "requestBody": {
                    "$ref": "#/components/requestBodies/registerUser"
                },
                "responses": {
                    "201": {
                        "description": "Register new user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/user"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/{id}": {
            "get": {
                "tags": [
                    "User"
                ],
                "operationId": "App\\Controller\\UserController::read",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User informations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/user"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "put": {
                "tags": [
                    "User"
                ],
                "operationId": "App\\Controller\\UserController::edit",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/registerUser"
                },
                "responses": {
                    "200": {
                        "description": "User informations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/user"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "delete": {
                "tags": [
                    "User"
                ],
                "operationId": "App\\Controller\\UserController::delete",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "userList": {
                "description": "List of the users",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string",
                        "maxLength": 64,
                        "nullable": true
                    },
                    "avatarPath": {
                        "type": "string",
                        "maxLength": 255,
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "user": {
                "description": "user informations",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "email": {
                        "type": "string",
                        "maxLength": 180,
                        "uniqueItems": true
                    },
                    "name": {
                        "type": "string",
                        "maxLength": 64,
                        "nullable": true
                    },
                    "avatarPath": {
                        "type": "string",
                        "maxLength": 255,
                        "nullable": true
                    },
                    "campaigns": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/campaignList"
                        }
                    },
                    "characters": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/characterList"
                        }
                    }
                },
                "type": "object"
            },
            "campaignList": {
                "description": "List of the campaigns",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string",
                        "maxLength": 64,
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "characterList": {
                "description": "List of the characters",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string",
                        "maxLength": 64,
                        "nullable": true
                    }
                },
                "type": "object"
            }
        },
        "responses": {
            "notFound": {
                "description": "ressource doesn't existe"
            }
        },
        "parameters": {
            "id": {
                "name": "id",
                "in": "path",
                "description": "ID of the ressource",
                "required": true,
                "schema": {
                    "type": "integer"
                }
            }
        },
        "requestBodies": {
            "registerUser": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "email",
                                "password",
                                "name",
                                "avatarPath"
                            ],
                            "properties": {
                                "email": {
                                    "type": "string",
                                    "maxLength": 180,
                                    "uniqueItems": true
                                },
                                "password": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string",
                                    "maxLength": 64,
                                    "nullable": true
                                },
                                "avatarPath": {
                                    "type": "string",
                                    "maxLength": 255,
                                    "nullable": true
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "securitySchemes": {
            "bearer": {
                "type": "apiKey",
                "bearerFormat": "JWT"
            }
        }
    }
}