{
    "openapi": "3.0.0",
    "info": {
        "title": "API O'donjon",
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://odonjon.fr/",
            "description": "API pour O'donjon"
        }
    ],
    "paths": {
        "/campaign/dm": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "operationId": "App\\Controller\\CampaignController::browseDm",
                "responses": {
                    "200": {
                        "description": "List of campaigns as the DM",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/campaignList"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/campaign": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "operationId": "App\\Controller\\CampaignController::browse",
                "responses": {
                    "200": {
                        "description": "List of campaigns as a player",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/campaignList"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "post": {
                "tags": [
                    "Campaign"
                ],
                "operationId": "App\\Controller\\CampaignController::add",
                "requestBody": {
                    "$ref": "#/components/requestBodies/campaign"
                },
                "responses": {
                    "200": {
                        "description": "Informations of the campaign",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/campaign"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/campaign/{id}": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "operationId": "App\\Controller\\CampaignController::read",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Informations of the campaign",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/campaign"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "put": {
                "tags": [
                    "Campaign"
                ],
                "operationId": "App\\Controller\\CampaignController::edit",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/campaign"
                },
                "responses": {
                    "200": {
                        "description": "Informations of the campaign",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/campaign"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Campaign"
                ],
                "operationId": "App\\Controller\\CampaignController::delete",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/campaign/{id}/story": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "operationId": "App\\Controller\\CampaignController::browseStories",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of stories of a campaign",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/campaignStories"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/campaign/{id}/map": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "operationId": "App\\Controller\\CampaignController::browseMaps",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of maps of a campaign",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/campaignMaps"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/campaign/{id}/npc": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "operationId": "App\\Controller\\CampaignController::browseNpc",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of NPCs of a campaign",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/campaignNPCs"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/campaign/{id}/character": {
            "get": {
                "tags": [
                    "Campaign"
                ],
                "operationId": "App\\Controller\\CampaignController::browseCharacter",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of Characters of a campaign",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/campaignCharacters"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/map": {
            "get": {
                "tags": [
                    "Map"
                ],
                "operationId": "App\\Controller\\MapController::browse",
                "responses": {
                    "200": {
                        "description": "List of maps",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/mapInfo"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "post": {
                "tags": [
                    "Map"
                ],
                "operationId": "App\\Controller\\MapController::add",
                "requestBody": {
                    "$ref": "#/components/requestBodies/map"
                },
                "responses": {
                    "200": {
                        "description": "Informations of the map",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/mapInfo"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/map/{id}": {
            "get": {
                "tags": [
                    "Map"
                ],
                "operationId": "App\\Controller\\MapController::read",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Informations of the map",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/mapInfo"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "put": {
                "tags": [
                    "Map"
                ],
                "operationId": "App\\Controller\\MapController::edit",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/map"
                },
                "responses": {
                    "200": {
                        "description": "Informations of the map",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/mapInfo"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Map"
                ],
                "operationId": "App\\Controller\\MapController::delete",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/nps": {
            "get": {
                "tags": [
                    "NPC"
                ],
                "operationId": "App\\Controller\\NpcController::browse",
                "responses": {
                    "200": {
                        "description": "List of NPCs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/npcInfo"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/npc": {
            "post": {
                "tags": [
                    "NPC"
                ],
                "operationId": "App\\Controller\\NpcController::add",
                "requestBody": {
                    "$ref": "#/components/requestBodies/npc"
                },
                "responses": {
                    "200": {
                        "description": "Informations of the NPC",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/npcInfo"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/npc/{id}": {
            "get": {
                "tags": [
                    "NPC"
                ],
                "operationId": "App\\Controller\\NpcController::read",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Informations of the NPC",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/npcInfo"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "put": {
                "tags": [
                    "NPC"
                ],
                "operationId": "App\\Controller\\NpcController::edit",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/npc"
                },
                "responses": {
                    "200": {
                        "description": "Informations of the NPC",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/npcInfo"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "delete": {
                "tags": [
                    "NPC"
                ],
                "operationId": "App\\Controller\\NpcController::delete",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/story": {
            "get": {
                "tags": [
                    "Story"
                ],
                "operationId": "App\\Controller\\StorieController::browse",
                "responses": {
                    "200": {
                        "description": "List of stories",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/storyInfo"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "post": {
                "tags": [
                    "Story"
                ],
                "operationId": "App\\Controller\\StorieController::add",
                "requestBody": {
                    "$ref": "#/components/requestBodies/story"
                },
                "responses": {
                    "200": {
                        "description": "Informations of the story",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/storyInfo"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/story/{id}": {
            "get": {
                "tags": [
                    "Story"
                ],
                "operationId": "App\\Controller\\StorieController::read",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Informations of the story",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/storyInfo"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "put": {
                "tags": [
                    "Story"
                ],
                "operationId": "App\\Controller\\StorieController::edit",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/story"
                },
                "responses": {
                    "200": {
                        "description": "Informations of the story",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/storyInfo"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Story"
                ],
                "operationId": "App\\Controller\\StorieController::delete",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/user": {
            "get": {
                "tags": [
                    "User"
                ],
                "operationId": "App\\Controller\\UserController::browse",
                "responses": {
                    "200": {
                        "description": "List of the users",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/userList"
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "User"
                ],
                "operationId": "App\\Controller\\UserController::add",
                "requestBody": {
                    "$ref": "#/components/requestBodies/registerUser"
                },
                "responses": {
                    "201": {
                        "description": "Register new user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/user"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/{id}": {
            "get": {
                "tags": [
                    "User"
                ],
                "operationId": "App\\Controller\\UserController::read",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "User informations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/user"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "put": {
                "tags": [
                    "User"
                ],
                "operationId": "App\\Controller\\UserController::edit",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/registerUser"
                },
                "responses": {
                    "200": {
                        "description": "User informations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/user"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            },
            "delete": {
                "tags": [
                    "User"
                ],
                "operationId": "App\\Controller\\UserController::delete",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/id"
                    }
                ],
                "responses": {
                    "204": {
                        "description": ""
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        },
        "/user/campaign/join": {
            "post": {
                "tags": [
                    "User"
                ],
                "operationId": "App\\Controller\\UserController::joinCampaign",
                "requestBody": {
                    "$ref": "#/components/requestBodies/joinCampaignUser"
                },
                "responses": {
                    "200": {
                        "description": "User informations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Yeah, you have joined the campaign"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Campaign not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "This invitation code is not valid !"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/notFound"
                    }
                },
                "security": [
                    {
                        "scalar": "bearer"
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "userList": {
                "description": "List of the users",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string",
                        "maxLength": 64,
                        "nullable": true
                    },
                    "avatarPath": {
                        "type": "string",
                        "maxLength": 255,
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "user": {
                "description": "user informations",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "email": {
                        "type": "string",
                        "maxLength": 180,
                        "uniqueItems": true
                    },
                    "name": {
                        "type": "string",
                        "maxLength": 64,
                        "nullable": true
                    },
                    "avatarPath": {
                        "type": "string",
                        "maxLength": 255,
                        "nullable": true
                    },
                    "campaigns": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/userCampaignList"
                        }
                    },
                    "characters": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/characterList"
                        }
                    }
                },
                "type": "object"
            },
            "userCampaignList": {
                "description": "List of the campaigns",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string",
                        "maxLength": 64,
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "characterList": {
                "description": "List of the characters",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string",
                        "maxLength": 64,
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "campaignList": {
                "description": "List of campaign",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string",
                        "maxLength": 64,
                        "nullable": true
                    },
                    "description": {
                        "type": "string",
                        "nullable": true
                    },
                    "memo": {
                        "type": "string",
                        "nullable": true
                    },
                    "isArchived": {
                        "type": "boolean",
                        "default": 0,
                        "example": "false",
                        "nullable": true
                    },
                    "invitationCode": {
                        "type": "string",
                        "maxLength": 64,
                        "nullable": true
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "owner": {
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "name": {
                                "type": "string",
                                "maxLength": 64,
                                "nullable": true
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "campaign": {
                "description": "Information of a campaign",
                "properties": {
                    "countCharacters": {
                        "type": "integer"
                    },
                    "countNpcs": {
                        "type": "integer"
                    },
                    "countStories": {
                        "type": "integer"
                    },
                    "countMaps": {
                        "type": "integer"
                    }
                },
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/campaignList"
                    }
                ]
            },
            "campaignStories": {
                "description": "List of stories of the campaign",
                "properties": {
                    "stories": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/story"
                        }
                    }
                },
                "type": "object"
            },
            "campaignMaps": {
                "description": "List of maps of the campaign",
                "properties": {
                    "maps": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/map"
                        }
                    }
                },
                "type": "object"
            },
            "campaignNPCs": {
                "description": "List of NPCs of the campaign",
                "properties": {
                    "NPCs": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/npc"
                        }
                    }
                },
                "type": "object"
            },
            "campaignCharacters": {
                "description": "List of Characters of the campaign",
                "properties": {
                    "characters": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/character"
                        }
                    }
                },
                "type": "object"
            },
            "story": {
                "description": "Information of a story",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string",
                        "maxLength": 64,
                        "nullable": true
                    },
                    "description": {
                        "type": "string",
                        "nullable": true
                    },
                    "isDone": {
                        "type": "boolean",
                        "default": 0,
                        "example": "false",
                        "nullable": true
                    },
                    "report": {
                        "type": "string",
                        "nullable": true
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "campaign": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "storyInfo": {
                "description": "Information of a story",
                "properties": {
                    "campaign": {
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "name": {
                                "type": "string",
                                "maxLength": 64,
                                "nullable": true
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/story"
                    }
                ]
            },
            "map": {
                "description": "Information of a map",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "filePath": {
                        "type": "string",
                        "maxLength": 64,
                        "nullable": true
                    },
                    "name": {
                        "type": "string",
                        "maxLength": 64,
                        "nullable": true
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "mapInfo": {
                "description": "Information of a map",
                "properties": {
                    "campaign": {
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "name": {
                                "type": "string",
                                "maxLength": 64,
                                "nullable": true
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/map"
                    }
                ]
            },
            "npc": {
                "description": "Information of a NPC",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string",
                        "maxLength": 64,
                        "nullable": true
                    },
                    "type": {
                        "type": "string",
                        "maxLength": 64,
                        "nullable": true
                    },
                    "description": {
                        "type": "string",
                        "nullable": true
                    },
                    "isAlly": {
                        "type": "string",
                        "maxLength": 64,
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "npcInfo": {
                "description": "Information of a NPC",
                "properties": {
                    "campaign": {
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "name": {
                                "type": "string",
                                "maxLength": 64,
                                "nullable": true
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/npc"
                    }
                ]
            },
            "character": {
                "description": "Information of a character",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string",
                        "maxLength": 64,
                        "nullable": true
                    },
                    "avatar_path": {
                        "type": "string",
                        "maxLength": 255,
                        "nullable": true
                    },
                    "age": {
                        "type": "integer",
                        "default": 0
                    },
                    "initiative": {
                        "type": "integer",
                        "default": 0
                    },
                    "height": {
                        "type": "integer",
                        "default": 0
                    },
                    "weight": {
                        "type": "integer",
                        "default": 0
                    },
                    "eyes": {
                        "type": "string",
                        "maxLength": 64,
                        "nullable": true
                    },
                    "skin": {
                        "type": "string",
                        "maxLength": 64,
                        "nullable": true
                    },
                    "hair": {
                        "type": "string",
                        "maxLength": 64,
                        "nullable": true
                    },
                    "appearance": {
                        "type": "string",
                        "nullable": true
                    },
                    "personality_traits": {
                        "type": "string",
                        "nullable": true
                    },
                    "ideals": {
                        "type": "string",
                        "nullable": true
                    },
                    "bonds": {
                        "type": "string",
                        "nullable": true
                    },
                    "flaws": {
                        "type": "string",
                        "nullable": true
                    },
                    "allies_and_organizations": {
                        "type": "string",
                        "nullable": true
                    },
                    "backstory": {
                        "type": "string",
                        "nullable": true
                    },
                    "treasure": {
                        "type": "string",
                        "nullable": true
                    },
                    "background": {
                        "type": "string",
                        "maxLength": 64,
                        "nullable": true
                    },
                    "alignement": {
                        "type": "string",
                        "maxLength": 64,
                        "nullable": true
                    },
                    "attacks_and_spellcasting": {
                        "type": "string",
                        "nullable": true
                    },
                    "equipment": {
                        "type": "string",
                        "nullable": true
                    },
                    "other_proficiencies_and_languages": {
                        "type": "string",
                        "nullable": true
                    },
                    "features_and_traits": {
                        "type": "string",
                        "nullable": true
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "characterInfo": {
                "description": "Information of a character",
                "properties": {
                    "campaign": {
                        "type": "integer",
                        "nullable": true
                    }
                },
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/npc"
                    }
                ]
            }
        },
        "responses": {
            "notFound": {
                "description": "ressource doesn't existe"
            }
        },
        "parameters": {
            "id": {
                "name": "id",
                "in": "path",
                "description": "ID of the ressource",
                "required": true,
                "schema": {
                    "type": "integer"
                }
            }
        },
        "requestBodies": {
            "registerUser": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "email",
                                "password",
                                "name",
                                "avatarPath"
                            ],
                            "properties": {
                                "email": {
                                    "type": "string",
                                    "maxLength": 180,
                                    "uniqueItems": true
                                },
                                "password": {
                                    "type": "string"
                                },
                                "name": {
                                    "type": "string",
                                    "maxLength": 64,
                                    "nullable": true
                                },
                                "avatarPath": {
                                    "type": "string",
                                    "maxLength": 255,
                                    "nullable": true
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "joinCampaignUser": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "invitationCode"
                            ],
                            "properties": {
                                "invitationCode": {
                                    "type": "string",
                                    "maxLength": 64
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "campaign": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "name",
                                "description",
                                "memo",
                                "isArchived"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "maxLength": 64,
                                    "nullable": true
                                },
                                "description": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "memo": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "isArchived": {
                                    "type": "boolean",
                                    "default": 0,
                                    "example": "false",
                                    "nullable": true
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "story": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "name",
                                "description",
                                "isDone",
                                "report",
                                "campaign"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "maxLength": 64,
                                    "nullable": true
                                },
                                "description": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "isDone": {
                                    "type": "boolean",
                                    "default": 0,
                                    "example": "false",
                                    "nullable": true
                                },
                                "report": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "campaign": {
                                    "type": "integer"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "map": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "filePath",
                                "name",
                                "description",
                                "campaign"
                            ],
                            "properties": {
                                "filePath": {
                                    "type": "string",
                                    "maxLength": 255,
                                    "nullable": true
                                },
                                "name": {
                                    "type": "string",
                                    "maxLength": 64,
                                    "nullable": true
                                },
                                "description": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "campaign": {
                                    "type": "integer"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            },
            "npc": {
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "required": [
                                "name",
                                "type",
                                "description",
                                "isAlly",
                                "campaign"
                            ],
                            "properties": {
                                "name": {
                                    "type": "string",
                                    "maxLength": 64,
                                    "nullable": true
                                },
                                "type": {
                                    "type": "string",
                                    "maxLength": 64,
                                    "nullable": true
                                },
                                "description": {
                                    "type": "string",
                                    "nullable": true
                                },
                                "isAlly": {
                                    "type": "string",
                                    "maxLength": 64,
                                    "nullable": true
                                },
                                "campaign": {
                                    "type": "integer"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "securitySchemes": {
            "bearer": {
                "type": "apiKey",
                "bearerFormat": "JWT"
            }
        }
    }
}