{% include "assets/head.html.twig" %}
{% include "assets/navbar.connected.html.twig" %}

{% block body %}

<div class="container" >

    <div class="row">
        <h1>Espace joueur</h1>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <h2>Vos campagnes</h2>
            <div class="row">
                <form>
                    <div class="form-group">
                        <label for="campaignId" class="form-label mt-4">Password</label>
                        <input type="password" class="form-control" id="campaignId" placeholder="Password">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <h2>Vos personnages</h2>
        </div>
    </div>

</div>

{% endblock %}

{% include "assets/script.html.twig" %}