{% extends 'base.html.twig' %}

{% block title %}O'donjon{% endblock %}

{% block body %}

  <div class="">
    <div class="main d-flex justify-content-center flex-column">
      <div class="d-flex flex-column align-items-center align-self-center">
        <h1 class="fs-1 fw-bold">O' Donjon</h1>
        <p class="fs-4">Y' à des dragons aussi !</p>
        <button type="button" class="btn btn-secondary">Je veux Jouer !</button>
      </div>
      <div class="projet">
        <h1 class="fs-1 fw-bold">Le Projet</h1>
        <p>Donjon & Dragon est un jeu de rôle qui se joue à plusieurs avec des dés. A la base, comme son nom l'indique, il s'agissait d'explorer un donjon, créé par un joueur ou tiré d'un livre officiel, en incarnant un personnage. Une personne joue le rôle du Dungeon Master (DM) qui dirige le donjon et tous les monstres qui s'y trouvent pendant que les autres joueurs incarnent chacun un personnage. Au fil des ans, le jeu a pas mal évolué et s'est beaucoup complexifié. Les lieux du déroulement des parties ne se limitent plus à de simples donjons et on peut trouver des livres décrivant des épopées qui peuvent durer plusieurs mois d'affilés ! Le but du projet est d'aider les DM et les joueurs à centraliser toutes les informations dont ils ont besoin lors d'une partie et d'y avoir accès rapidement, sans devoir garder des dizaines de feuilles volantes.</p>
      </div>
      <!-- project -->
      <div class="team d-flex">

        <div class="card mb-3 style="width: 18rem;">
          <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveaspectratio="xMidYMid slice" viewbox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
            <rect width="100%" height="100%" fill="#868e96"></rect>
            <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
          </svg>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>

        <div class="card mb-3 style="width: 18rem;">
          <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveaspectratio="xMidYMid slice" viewbox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
            <rect width="100%" height="100%" fill="#868e96"></rect>
            <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
          </svg>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>

        <div class="card mb-3 style="width: 18rem;">
          <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveaspectratio="xMidYMid slice" viewbox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
            <rect width="100%" height="100%" fill="#868e96"></rect>
            <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
          </svg>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>

      </div>
      <!-- team -->
    </div>
    <!-- Main -->

  </div>
{% endblock %}
