{% include 'assets/head.html.twig' %}
{% include 'assets/navbar.connected.html.twig' %}


{% block body %}


<div class="connected d-flex">

    <div class="connected--dm col-6">

        <section class="connected__text--dm scroll">
            <div class="d-flex justify-content-center flex-column vh-100">
                <div class="d-flex flex-column align-items-center align-self-center">
                <h1 class="big-title fw-bold m-4 text-center">Espace DM</h1>
                <p class="fs-4 m-3 text-center">Le Maître du donjon (DM) est le meneur de jeu. Cet espace permet de gérer des campagnes, on peux y ajouter des cartes, des histoires et PNG !</p>
                <a href ="{{ path('dongeon_master') }}" class="btn btn-danger fs-4">C'est parti !</a>
                </div>
            </div>
        </section>

    </div>

    <div class="connected--player col-6">

        <section class="connected__text--player scroll">
            <div class="d-flex justify-content-center flex-column vh-100">
                <div class="d-flex flex-column align-items-center align-self-center">
                <h1 class="big-title fw-bold m-4 text-center">Espace Joueur</h1>
                <p class="fs-4 m-3 text-center">L'espace joueur permet de créer des personnages et de participer à des campagnes. Good game and have fun !</p>
                <a href ="{{ path('player_home') }}" class="btn btn-danger fs-4">C'est parti !</a>
                </div>
            </div>
        </section>

    </div>
</div>

{% endblock %}
